<% if @user %>
  <h1>Welcome, <%= @user.username %>!</h1>
  <% if @user.admin %>

  <% else %>
    
  <% end %>
<% else %>
  <h1>Welcome!</h1>
  <p>
    It doesn't look like you're logged in. You can <a href="/catalog">browse the catalog</a> or <a href="/login">log in to your account</a> to check books out and in, or view your history.
  </p>
<% end %>
