<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
    <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
    <script src="/js/scripts.js"></script>
    <title>Epicodus Library</title>
  </head>
  <body>
    <div class="jumbotron">
      <div class="container">
        <h1>Epicodus Library</h1>
        <ul class="nav nav-pills">
          <li role="presentation"><a href="/">Home</a></li>
          <li role="presentation"><a href="/catalog">Catalog</a></li>
          <% if @user %>
            <% if @user.admin %>
              <li role="presentation"><a href="/patrons">Patrons</a></li>
            <% else %>
              <li role="presentation"><a href="/checkouts">Checkouts</a></li>
              <li role="presentation"><a href="/history">History</a></li>
            <% end %>
            <li role="presentation"><a href="/account">Account</a></li>
            <li role="presentation">
              <form class="logout" action="/logout" method="post">
                <button type="submit" class="btn">Log Out</button>
              </form>
            </li>
          <% else %>
            <li role="presentation"><a href="/login">Log In</a></li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="container">

      <%= yield %>

      <footer><a href="/"><button type="button" class="btn">Home</button></a></footer>

    </div>
  </body>
</html>
