<h1>Patrons</h1>

<p><a href="/add-patron">Add a Patron</a></p>

<% if @patrons.any? %>
  <ul>
    <% @patrons.each do |patron| %>
      <li>
        <a href="/patrons/<%= patron.id %>"><%= patron.full_name %></a>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>There are currently no patrons.</p>
<% end %>
